TOPIC: String Based Assignment Problem

1.Write a program to reverse a string.

In [4]:
input_string = input("Enter a string: ")
# Using slicing to reverse the string
reversed_str = input_string[::-1]
result = reversed_str
print("Reversed string:", result)

Enter a string:  aliraza

Reversed string: azarila

2.Check if a string is a palindrome.

In [ ]:

input_string = input("Enter a string: ")

if input_string == input_string[::-1] :
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  level

The string is a palindrome.

3. Convert a string to uppercase.

In [12]:
input_string = input("Enter a string: ")
print(input_string.upper())

Enter a string:  ali raza

ALI RAZA

4. Convert a string to lowercase.

In [13]:
input_string = input("Enter a string: ")
print(input_string.lower())

Enter a string:  ALI

ali

5.Count the number of vowels in a string.

In [20]:
input_string = input("Enter a string: ")
input_string=input_string.lower()
count=0
vowels=set("aeiou")
for char in input_string:
    if char in vowels:
        count+=1
        
print(count," vowles in this string")

Enter a string:  aeiou

5  vowles in this string

6.Count the number of consonants in a string.

In [27]:
input_string = input("Enter a string: ")
input_string=input_string.lower()
count=0
vowels=set("aeiou")
for char in input_string:
    if char.isalpha() and char not in vowels:
        count+=1
        
print(count," consonants in this string")

Enter a string:  23

0  consonants in this string

7. Remove all whitespaces from a string.

In [29]:
input_string = input("Enter a string: ")
print("".join(input_string.split()))

Enter a string:  ali raza

aliraza

8. Find the length of a string without using the `len()` function.

In [30]:
input_string = input("Enter a string: ")
count=0
for char in input_string:
        count+=1
        
print(count," is length of given string")

Enter a string:  ali raza

8  consonants in this string

9. Check if a string contains a specific word.

In [32]:
input_string = input("Enter a string: ")
word_to_check = input("Enter the word to check: ")
if word_to_check in input_string:
    print(word_to_check,"is present in given string")

Enter a string:  ali raza is a boy
Enter the word to check:  boy

boy is present in given string

10. Replace a word in a string with another word.

In [36]:
input_string = input("Enter a string: ")
word_to_replace = input("Enter the word to replace: ")
word_to_replace_with = input("Enter the word to replace with: ")
print("After replacing string is ",input_string.replace(word_to_replace,word_to_replace_with))

Enter a string:  aniza is a boy
Enter the word to replace:  boy
Enter the word to replace with:  girl

After replacing string is  aniza is a girl

11. Count the occurrences of a word in a string.

In [38]:
input_string = input("Enter a string: ")
word_to_check = input("Enter the word to check: ")
input_string=input_string.lower()
count=0
if word_to_check in input_string:
     count+=1
        
print("the word",word_to_check,"occure",count," times in given string")

Enter a string:  ali raza is a boy. he is a good boy
Enter the word to check:  boy

the word boy occure 1  times in given string

12. Find the first occurrence of a word in a string.

In [12]:






input_string = input("Enter a string: ")
word_to_find = input("Enter the word to find: ")
input_str_lower = input_string.lower()
target_word_lower = word_to_find.lower()
    # Use the find method to find the index of the first occurrence
index = input_str_lower.find(target_word_lower)
if index != -1:
    print(f"The first occurrence of '{word_to_find}' is at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

Enter a string:  ali raza is a boy
Enter the word to find:  boy

The first occurrence of 'boy' is at index 14.

13. Find the last occurrence of a word in a string.

In [10]:
input_string = input("Enter a string: ")
word_to_find = input("Enter the word to find: ")
input_str_lower = input_string.lower()
target_word_lower = word_to_find.lower()
    # Use the find method to find the index of the first occurrence
length=len(target_word_lower)
index = input_str_lower.rfind(target_word_lower)
if index != -1:
    index=index+length-1
    print(f"The first occurrence of '{word_to_find}' is at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

Enter a string:  ali raza is a boy
Enter the word to find:  boy

The first occurrence of 'boy' is at index 16.

14. Split a string into a list of words.

In [2]:
input_string = input("Enter a string: ")
list_of_words = input_string.split()
print(list_of_words)

Enter a string:  Ali raza is a boy

['Ali', 'raza', 'is', 'a', 'boy']

15. Join a list of words into a string.

In [3]:
List_of_words = ['Ali', 'raza', 'is', 'a', 'boy']
result_string = "".join(List_of_words)
print(result_string)

Alirazaisaboy

16. Convert a string where words are separated by spaces to one where words
are separated by underscores

In [5]:
input_string = input("Enter a string: ")
list_of_words = input_string.replace(" ","_")
print(list_of_words)

Enter a string:  Ali raza is a boy

Ali_raza_is_a_boy

17. Check if a string starts with a specific word or phrase.

In [8]:
check_string = input("Enter a string: ")
check_word = input("Enter specific word to check: ")
check_word = check_word.lower()
check_string = check_string.lower()
check_Specific_Word = check_string.startswith(check_word)
print(check_Specific_Word)

Enter a string:  Ali raza is a boy
Enter specific word to check:  ali

True

18. Check if a string ends with a specific word or phrase.

In [10]:
check_string = input("Enter a string: ")
check_word = input("Enter specific word to check: ")
check_word = check_word.lower()
check_string = check_string.lower()
check_Specific_Word = check_string.endswith(check_word)
print(check_Specific_Word)

Enter a string:  ALi raza is aboy
Enter specific word to check:  aboy

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [12]:
input_string = input("Enter a string: ")
print(input_string.title())

Enter a string:  hello word

Hello Word

20. Find the longest word in a string.

In [13]:
input_string = input("Enter a string: ")
word_list = input_string.split()
longest_word = max(word_list, key=len)
print("The longest string in the word is", longest_word)

Enter a string:  Ali raza is a boy

The longest string in the word is raza

21. Find the shortest word in a string.

In [14]:
input_string = input("Enter a string: ")
word_list = input_string.split()
shortest_word = min(word_list, key=len)
print("The shortest string in the word is", shortest_word)

Enter a string:  Ali raza is a boy

The longest string in the word is a

22. Reverse the order of words in a string.

In [17]:
input_string = input("Enter a string: ")
string_list = input_string.split()
reverse_string = reversed(string_list)
rev = " ".join(reverse_string)
print("Orignal string is: ",input_string)
print("Reversed string is:",rev)

Enter a string:  Ali raza is a boy

Orignal string is:  Ali raza is a boy
Reversed string is: boy a is raza Ali

23. Check if a string is alphanumeric.

In [21]:
input_string = input("Enter a string: ")
result = input_string.isalnum()
print(result)

Enter a string:  ali25

True

24. Extract all digits from a string.

In [25]:
input_string = input("Enter a string: ")
digit_list = [ char for char in input_string if char.isdigit()]
result = "".join(digit_list)
print(result)

Enter a string:  Ali raza is 25 year old

25

25. Extract all alphabets from a string.

In [34]:
input_string = input("Enter a string: ")
alpha_list = [ char for char in input_string if char.isalpha() ]
result = "".join(alpha_list)
print(result)

Enter a string:  Ali raza is 25 year old

Alirazaisyearold

26. Count the number of uppercase letters in a string.

In [37]:
input_string = input("Enter a string: ")
upper_word = sum( 1 for char in input_string if char.isupper()  )
print("The number of upper_case letters is ",upper_word)

Enter a string:  Ali Raza is a boy

The number of upper_case letters is  2

27. Count the number of lowercase letters in a string.

In [38]:
input_string = input("Enter a string: ")
lower_word = sum( 1 for char in input_string if char.islower()  )
print("The number of lower_case letters is ",lower_word)

Enter a string:  Ali Raza is a boy

The number of lower_case letters is  11

28. Swap the case of each character in a string.

In [41]:
input_string = input("Enter a string: ")
swaped_case = input_string.swapcase()
print(swaped_case)

Enter a string:  Ali Raza is a BOY

aLI rAZA IS A boy

29. Remove a specific word from a string.

In [1]:
original_string = "Ali is a good boy"
word_to_remove = "boy"
words = original_string.split()
result = ' '.join(word for word in words if word != word_to_remove)
print(result)

Ali is a good

30. Check if a string is a valid email address.

In [4]:
import re
pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
email_to_check = input("Enter email address to check")

if re.match(pattern, email_to_check):
    print("Valid email address")
else:
    print("Invalid email address")

Enter email address to check Ali

Invalid email address

31. Extract the username from an email address string.

In [9]:

email = "aliraza07@gmail.com"
username = email.split('@')[0]
print("Username:", username)

Username: aliraza07

32. Extract the domain name from an email address string.

In [10]:
email = "aliraza07@gmail.com"
domainName = email.split('@')[1]
print("Domain Name:", domainName)

Domain Name: gmail.com

33. Replace multiple spaces in a string with a single space.

In [16]:
Str1= "My     Name    is    Ali  Raza"
Str2 = ' '.join(Str1.split())
print(Str2)

My Name is Ali Raza

34. Check if a string is a valid URL.

In [18]:
url_check="http:\\"
url="http:\\alitaza.com"
if url_check in url:
    print("it is valid url")

it is valid url

35. Extract the protocol (http or https) from a URL string.

In [20]:
url="http:\\alitaza.com"
protocol = url.split(':')[0]
print("Protocol is ",protocol)

Protocol is  http

36. Find the frequency of each character in a string.

In [24]:
input_string = "My name is ali raza"
frequency = {}
for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

print("Character Frequency:", frequency)

Character Frequency: {'M': 1, 'y': 1, ' ': 4, 'n': 1, 'a': 4, 'm': 1, 'e': 1, 'i': 2, 's': 1, 'l': 1, 'r': 1, 'z': 1}

38. Check if a string contains only digits.

In [27]:
input_string = "My name is ali raza"
input_string.isnumeric()

False

39. Check if a string contains only alphabets.

In [31]:
input_string = "aliraza"
input_string.isalpha()

True

40. Convert a string to a list of characters.

In [34]:
input_string = "aliraza"
input_string=list(input_string)
print(input_string)

['a', 'l', 'i', 'r', 'a', 'z', 'a']

41. Check if two strings are anagrams.

In [41]:
string_1 = "lisent"
string_2 = "silent"
string_1=string_1.lower()
string_2 = string_2.lower()
if sorted(string_1)==sorted(string_2):
   print(string_1, "and ", string_2, " are anagrams")
else:
   print(string_1, "and ", string_2, " are not anagrams")

lisent and  silent  are anagrams

42. Encode a string using a Caesar cipher.

In [42]:
def caesar_cipher_encrypt(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():  # Check if the character is a letter
            shifted = ord(char) + shift  # Shift the character by 'shift' positions
            
            if char.islower():
                if shifted > ord('z'):
                    shifted = shifted - 26
                elif shifted < ord('a'):
                    shifted = shifted + 26
            elif char.isupper():
                if shifted > ord('Z'):
                    shifted = shifted - 26
                elif shifted < ord('A'):
                    shifted = shifted + 26
                    
            result += chr(shifted)
        else:
            result += char  # Non-alphabetic characters remain unchanged
    return result

# Example usage
input_string = "Hello, World!"
shift = 3
encrypted_string = caesar_cipher_encrypt(input_string, shift)
print("Encrypted:", encrypted_string)

Encrypted: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [43]:
def caesar_cipher_decrypt(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():  # Check if the character is a letter
            shifted = ord(char) - shift  # Shift the character backwards by 'shift' positions
            
            if char.islower():
                if shifted < ord('a'):
                    shifted = shifted + 26
                elif shifted > ord('z'):
                    shifted = shifted - 26
            elif char.isupper():
                if shifted < ord('A'):
                    shifted = shifted + 26
                elif shifted > ord('Z'):
                    shifted = shifted - 26
            
            result += chr(shifted)
        else:
            result += char  # Non-alphabetic characters remain unchanged
    return result

# Example usage
encoded_string = "Khoor, Zruog!"
shift = 3
decoded_string = caesar_cipher_decrypt(encoded_string, shift)
print("Decoded:", decoded_string)

Decoded: Hello, World!

44. Find the most frequent word in a string.

In [51]:
input_string = "My name is ali raza"
frequency = {}
for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

 # Find the word with the highest frequency
most_frequent_word = None
max_frequency = 0
for word, freq in frequency.items():
    if freq > max_frequency:
        max_frequency = freq
        most_frequent_word = word
print("Most Frequency of letter in string  is ", max_frequency)

Most Frequency of letter in string  is  4

45. Find all unique words in a string.

In [56]:
input_string = "My Name is ali raza Ali is a good boy"
# find all unique words
input_string=input_string.lower()
words=input_string.split()
unique_words = set(words)
print("Unique words are ",unique_words)

Unique words are  {'ali', 'boy', 'raza', 'a', 'is', 'my', 'good', 'name'}

In [ ]:
46. Count the number of syllables in a string.

In [57]:
def count_syllables(input_string):
    vowels = "aeiouyAEIOUY"
    count = 0
    previous_char_vowel = False
    
    for char in input_string:
        if char in vowels:
            if not previous_char_vowel:
                count += 1
            previous_char_vowel = True
        else:
            previous_char_vowel = False
    
    # Adjust for certain endings
    if input_string.endswith(('e', 'es')) and not input_string.endswith(('le', 'es')):
        count -= 1
    if input_string.endswith('le'):
        count += 1
    
    # Minimum syllable count is 1
    return max(count, 1)

# Example usage
input_string = "Hello world"
syllable_count = count_syllables(input_string)
print(f"Number of syllables in '{input_string}': {syllable_count}")

Number of syllables in 'Hello world': 3

47. Check if a string contains any special characters.

In [62]:
import string

input_string = input("Enter a string: ")
special_characters = set(string.punctuation)  # Get all punctuation characters

# Check if any character in input_string is in special_characters
if any(char in special_characters for char in input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  Ali@

The string contains special characters.

48. Remove the nth word from a string.

In [91]:

input_string = "HelloWorld"
n = 4  # Remove the 3rd word (index 2)

words =list(input_string)
    
    # Check if n is within valid range
if n < 0 or n >= len(words):

    words.pop(0)
    
    # Join the remaining words back into a string
result_string = " ".join(words)

print("Result:", result_string)

Result: H e l l o W o r l d

49. Insert a word at the nth position in a string.

In [92]:
def insert_word(input_string, word_to_insert, n):
    words = input_string.split()
    
    # Check if n is within valid range
    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)  # Insert the word at index n
        result_string = " ".join(words)
        return result_string
    else:
        return "Invalid index"

# Example usage
input_string = "Hello world! How are you?"
word_to_insert = "beautiful"
n = 2  # Insert at the 3rd position (index 2)

result = insert_word(input_string, word_to_insert, n)
print("Result:", result)

Result: Hello world! beautiful How are you?

50. Convert a CSV string to a list of lists.

In [93]:
def csv_string_to_list(csv_string):
    lines = csv_string.strip().split('\n')  # Split CSV string into lines
    csv_list = [line.split(',') for line in lines]  # Split each line into a list
    
    return csv_list

# Example usage
csv_string = "Name,Age,City\nJohn,25,New York\nJane,30,San Francisco"
csv_list = csv_string_to_list(csv_string)
print("CSV List:")
for row in csv_list:
    print(row)

CSV List:
['Name', 'Age', 'City']
['John', '25', 'New York']
['Jane', '30', 'San Francisco']

1. Create a list with integers from 1 to 10.

In [1]:
counting = [1,2,3,4,5,6,7,8,9,10]
type(counting)

list

2. Find the length of a list without using the `len()` function.

In [12]:
# Example usage:
my_list = [1, 2, 3, 4, 5]
count = 0
for element in my_list:
    count += 1
print("Length of list is ",count)

Length of list is  5

3. Append an element to the end of a list.

In [14]:
counting = [1,2,3,4,5,6,7,8,9,10]
counting.append(11)
print(counting)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [18]:
counting = [1,2,3,4,5,6,7,8,9,10]
# change number at index 3
counting.insert(3,"ali")
print(counting)

[1, 2, 3, 'ali', 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [21]:
counting = [1,2,'ali',4,5,6,7,8,9,10]
# remove number at index 2 by its value
counting.remove("ali")
print(counting)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

Remove an element from a list by its index.

In [23]:
counting = [1,2,'ali',4,5,6,7,8,9,10]
# remove number at index 3 
counting_pop=counting.pop(3)
print(counting_pop)

4

7. Check if an element exists in a list.

In [24]:
counting = [1,2,'ali',4,5,6,7,8,9,10]
check_num = 'ali'
if check_num in counting:
    print("Yes ali is avaliable in list")
else:
    print("Yes ali is not avaliable in list")

Yes ali is avaliable in list

8. Find the index of the first occurrence of an element in a list.

In [26]:
counting = [1,2,'ali',4,5,6,7,8,9,10,7,5,4,2,3,8,4,2,3,1,7,8,9,'ali','raza']
element_to_find = 10
index = counting.index(element_to_find)
print(" Index of",element_to_find," is ",index)

 Index of 10  is  9

9. Count the occurrences of an element in a list.

In [28]:
l1=[1,2,'ali',4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9,'ali','raza']
element_to_find = 4
print(l1.count(element_to_find))

5

In [32]:
l1=[1,2,'ali',4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9,'ali','raza']
l1.reverse()
print(l1)

['raza', 'ali', 9, 4, 7, 1, 3, 2, 4, 8, 3, 2, 4, 5, 7, 10, 9, 4, 7, 6, 5, 4, 'ali', 2, 1]

11. Sort a list in ascending order.

In [35]:
l1=[1,2,4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9]
l1.sort()
print(l1)

[1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 8, 9, 9, 10]

12. Sort a list in descending order.

In [39]:
l1=[1,2,4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9]
l1.sort(reverse=True)
print(l1)

[10, 9, 9, 8, 7, 7, 7, 6, 5, 5, 4, 4, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [41]:
even_num = [x for x in range(2, 21, 2)]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [42]:
odd_num = [x for x in range(1, 20, 2)]
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [47]:
l1=[1,2,4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9]
l2=sum(l1)
print("Sum of a list is",l2)

Sum of a list is 107

16. Find the maximum value in a list.

In [48]:
l1=[1,2,4,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9]
l2=max(l1)
print(l2)

10

17. Find the minimum value in a list.

In [50]:
l1=[1,2,4,0,5,6,7,4,9,10,7,5,4,2,3,8,4,2,3,1,7,4,9]
l2=min(l1)
print(l2)

0

18. Create a list of squares of numbers from 1 to 10.

In [55]:
square_num = [x**2 for x in range(1, 11, 1)]
print(square_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [6]:
import random
random_numbers = [random.randint(1, 10) for _ in range(10)]
print(random_numbers)

[4, 6, 1, 7, 7, 5, 4, 3, 2, 8]

20. Remove duplicates from a list.

In [8]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l2=set(l1)
print(l2)

{1, 2, 3, 4, 5, 6, 7, 8, 33, 67, 9, 45}

21. Find the common elements between two lists.

In [12]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l2=[45,2,12,11,13,14,9,6,67,32,22,18]
l3=[]
for x in l1:
    if x in l2:
        l3.append(x)
print(" common elements between two lists ",l3)

 common elements between two lists  [2, 2, 6, 45, 67, 9]

22. Find the difference between two lists.

In [16]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l2=[45,2,12,11,13,14,9,6,67,32,22,18]
l3=[]
for x in l1:
    if x not in l2:
        l3.append(x)

for x in l2:
    if x not in l1:
        l3.append(x)
print("these elements are differnt between two lists ",l3)

these elements are differnt between two lists  [1, 1, 3, 4, 7, 8, 5, 4, 33, 12, 11, 13, 14, 32, 22, 18]

23. Merge two lists.

In [19]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l2=[45,2,12,11,13,14,9,6,67,32,22,18]
l1.extend(l2)
print("After Mergimg two lists",l1)

After Mergimg two lists [1, 2, 1, 3, 2, 4, 6, 7, 8, 5, 4, 33, 45, 67, 9, 45, 2, 12, 11, 13, 14, 9, 6, 67, 32, 22, 18]

24. Multiply all elements in a list by 2.

In [22]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l3=[]
for x in l1:
        l3.append(x*2)
print("Multiplied all elements in a list by 2 ",l3)

Multiplied all elements in a list by 2  [2, 4, 2, 6, 4, 8, 12, 14, 16, 10, 8, 66, 90, 134, 18]

25. Filter out all even numbers from a list.

In [26]:
l1=[1,2,1,3,2,4,6,7,8,5,4,33,45,67,9]
l3=[]
for x in l1:
    if x%2==0:
        l3.append(x)
print("all even numbers from a list",l3)

 [2, 2, 4, 6, 8, 4]

26. Convert a list of strings to a list of integers.

In [29]:

string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(item) for item in string_list]
print("list of strings to a list of integers",integer_list)

list of strings to a list of integers [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [32]:

string_list = [1, 2, 3, 4, 5]

integer_list = [str(x) for x in string_list]

print("list of integers to a list of strings",integer_list)

list of integers to a list of strings ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [37]:
l1=[1,2,1,[3,2,4,6],7,8,5,4,[33,45,67,9]]
l2=[]
for char in l1:
    if isinstance(char, list):
        l2.extend(char)
    else:
        l2.append(char)
print(l2)

[1, 2, 1, 3, 2, 4, 6, 7, 8, 5, 4, 33, 45, 67, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [42]:
fibonacci_num = [0, 1]
for i in range(2, 10):
        next_number = fibonacci_num[-1] + fibonacci_num[-2]
        fibonacci_num.append(next_number)
print("first 10 Fibonacci numbers",fibonacci_num)

first 10 Fibonacci numbers [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [51]:
l1=[1, 2, 1, 3, 2, 4, 6, 7, 8, 5, 4, 33, 45, 67, 9]
def is_list_sorted(l1):
    for char in range(1,len(l1)):
        if l1[char]<l1[char-1]:
            return False
    return True
if is_list_sorted(l1):
    print("list is sorted")
else:
     print("list is not sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [73]:
lst=[1, 2, 1, 8, 5, 4, 33, 45, 67, 9]
n=2 # rotate to the left by 3 positions
n = n % len(lst)
l2=lst[n:] + lst[:n]
print("list to the left by 3 positions ",l2)

list to the left by 3 positions  [1, 8, 5, 4, 33, 45, 67, 9, 1, 2]

32. Rotate a list to the right by `n` positions.

In [72]:
lst=[1, 2, 1, 8, 5, 4, 33, 45, 67, 9]
n=2 # rotate to the right by 2 positions
n = n % len(lst)
l2= lst[-n:]+lst[:-n] 
print("list to the right by 3 positions ",l2)

list to the right by 3 positions  [67, 9, 1, 2, 1, 8, 5, 4, 33, 45]

33. Create a list of prime numbers up to 50.

In [87]:
l1=[]
for char in range(2,51):
    if char%char==0 and char%2!=0 and char%3!=0 and char%5!=0:
        l1.append(char)
print("list of prime numbers up to 50",l1)

list of prime numbers up to 50 [7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [87]:
l1=[]
for char in range(2,51):
    if char%char==0 and char%2!=0 and char%3!=0 and char%5!=0:
        l1.append(char)
print("list of prime numbers up to 50",l1)

list of prime numbers up to 50 [7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

34. Split a list into chunks of size `n`.

In [4]:
my_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
l1=[my_lst[i:i + chunk_size] for i in range(0, len(my_lst), chunk_size)]
print(l1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [12]:
my_lst = [1, 21, 13, 4, 45, 61, 7, 8, 9]
l1=sorted(my_lst)
print(" second largest number in a list is",l1[-2])

 second largest number in a list is 45

36. Replace every element in a list with its square.

In [17]:
my_lst = [1, 21, 13, 4, 45, 61, 7, 8, 9]
l1= [char**2 for char in my_lst]
print(l1)

[1, 441, 169, 16, 2025, 3721, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [20]:
my_lst = [1, 21, 13, 4, 45, 61, 7, 8, 9]
l1={element: index for index, element in enumerate(my_lst)}
print(l1)

{1: 0, 21: 1, 13: 2, 4: 3, 45: 4, 61: 5, 7: 6, 8: 7, 9: 8}

38. Shuffle the elements of a list randomly.

In [22]:
import random
my_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
random.shuffle(my_lst)
print(my_lst)

[5, 2, 1, 8, 7, 3, 6, 9, 4]

39. Create a list of the first 10 factorial numbers.

In [23]:
import math
factorial_num=[math.factorial(i) for i in range(10)]
print(factorial_num)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [29]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
if bool(set(list1) & set(list2)):
    print(" two lists have at least one element in common")

 two lists have at least one element in common

41. Remove all elements from a list.

In [31]:
list1 = [1, 2, 3, 4, 5]
list1.clear()
print(list1)

[]

42. Replace negative numbers in a list with 0.

In [32]:
lst = [1, 2, 3, 4, 5,-9,4,-2,66,-77,-22]
l1=[]
for x in lst:
    if x<0:
        l1.append(0)
    else:
        l1.append(x)
print(l1)

[1, 2, 3, 4, 5, 0, 4, 0, 66, 0, 0]

43. Convert a string into a list of words.

In [35]:
string='My Name is Ali raza'
lst=string.split()
print(lst)

['My', 'Name', 'is', 'Ali', 'raza']

44. Convert a list of words into a string.

In [37]:
lst=['My', 'Name', 'is', 'Ali', 'raza']
string=" ".join(lst)
print(string)

My Name is Ali raza

45. Create a list of the first `n` powers of 2.

In [39]:
lst=[char**2 for char in range(1,8)]
print(lst)

[1, 4, 9, 16, 25, 36, 49]

46. Find the longest string in a list of strings.

In [40]:
lst = ["apple", "banana", "cherry", "blueberry", "kiwi"]
print(max(lst, key=len))

blueberry

47. Find the shortest string in a list of strings.

In [41]:
lst = ["apple", "banana", "cherry", "blueberry", "kiwi"]
print(min(lst, key=len))

kiwi

48. Create a list of the first `n` triangular numbers.

In [42]:
num=[(i * (i + 1)) // 2 for i in range(1,11)]
print(num)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [ ]:
lst = [1, 2, 3, 4, 5]
sub_lst = [2, 4]
it = iter(lst)
l1=[all(item in it for item in sub_lst)]
print(l1)

50. Swap two elements in a list by their indices.

In [55]:
lst = [1, 2, 3, 4, 5]
id1=1
id2=4
temp=lst[id1]
lst[id1]=lst[id2]
lst[id2]=temp
print(lst)

[1, 5, 3, 4, 2]

1. Create a tuple with integers from 1 to 5.

In [1]:
t=(1,2,3,4,5)
type(t)

tuple

2. Access the third element of a tuple.

In [3]:
t=(1,2,3,4,5)
print(" third element of a tuple is",t[2])

 third element of a tuple is 3

3. Find the length of a tuple without using the `len()` function.

In [5]:
t=(1,2,3,4,5,6,7,8,9)
count=0
for char in t:
    count= count+1
print("length of a tuple is ",count)

length of a tuple is  9

4. Count the occurrences of an element in a tuple.

In [7]:
t=(3,4,1,5,6,4,7,8,3,9,65,32,4)
#count the occurance of 4
print("occurance of 4 is ",t.count(4),"time")

occurance of 4 is  3 time

5. Find the index of the first occurrence of an element in a tuple.

In [9]:
t=(3,4,1,5,6,4,7,8,3,9,5,32,4)
# check the first  occurance of 5
print("first occurance of 5 is at ",t.index(5),"index")

first occurance of 5 is at  3 index

6. Check if an element exists in a tuple.

In [20]:
t=(1,2,3,4,5,6,7,8,9)
element_to_check=31
if element_to_check in t:
    print("element exists in a tuple")
else:
    print("element not exists in a tuple")

element not exists in a tuple

7. Convert a tuple to a list.

In [23]:
t=(1,2,3,4,5,6,7,8,9)
l=list(t)
print(l)
print(type(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

8. Convert a list to a tuple.

In [25]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

9. Unpack the elements of a tuple into variables.

In [26]:
t=(1,2,3)
a,b,c=t
print(a,b,c)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [32]:
t=tuple(x for x in range(1,11)if x%2==0)
print(t)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [33]:
t=tuple(x for x in range(1,11)if x%2!=0)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [34]:
t1=(1, 3, 5, 7, 9)
t2=(2, 4, 6, 8, 10)
print(t1+t2)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

13. Repeat a tuple three times.

In [35]:
t1=(1, 3, 5, 7, 9)
print(t1*3)

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

14. Check if a tuple is empty.

In [37]:
t=()
if len(t)==0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

15. Create a nested tuple.

In [40]:
t1=(1, 3,(6,3,7,9,2,1,8), 5, 7, 9)
print(t1)

(1, 3, (6, 3, 7, 9, 2, 1, 8), 5, 7, 9)

16. Access the first element of a nested tuple.

In [42]:
t1=(1, 3,(6,3,7,9,2,1,8), 5, 7, 9)
print("first element of a nested tuple.",t1[2][0])

first element of a nested tuple. 6

17. Create a tuple with a single element.

In [43]:
t1=(1)
print(t1)
print(type(t))

1
<class 'tuple'>

18. Compare two tuples.

In [44]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t3 = (4, 5, 6)
print(t1 == t2) 
print(t1 == t3)

True
False

19. Delete a tuple.

In [46]:
t1 = (1, 2, 3)
del t1
print(t1) # tuple is deleted now it will show Name error

NameError: name 't1' is not defined

20. Slice a tuple.

In [49]:
t=(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
slice1=(t[:5])
slice2=(t[5:])
print("First slice of the tuple",slice1,"Second slice of the tuple",slice2)

First slice of the tuple (1, 3, 5, 7, 9) Second slice of the tuple (2, 4, 6, 8, 10)

21. Find the maximum value in a tuple.

In [50]:
t=(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
print(max(t))

10

22. Find the minimum value in a tuple.

In [51]:
t=(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
print(min(t))

1

23. Convert a string to a tuple of characters.

In [52]:
s="Aliraza"
t=tuple(s)
print(t)

('A', 'l', 'i', 'r', 'a', 'z', 'a')

24. Convert a tuple of characters to a string.

In [53]:
t=('A', 'l', 'i', 'r', 'a', 'z', 'a')
s="".join(t)
print(s)

Aliraza

25. Create a tuple from multiple data types.

In [57]:
t=('ali',22, 2+4j ,5.7)
print((t),type(t[0]),type(t[1]),type(t[2]),type(t[3]))

('ali', 22, (2+4j), 5.7) <class 'str'> <class 'int'> <class 'complex'> <class 'float'>

26. Check if two tuples are identical.

In [58]:
tuple1 = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
tuple2 = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
tuple3 = (10, 8, 6, 4, 2, 9, 7, 5, 3, 1)

if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical.")
else:
    print("tuple1 and tuple2 are not identical.")
if tuple1 == tuple3:
    print("tuple1 and tuple3 are identical.")
else:
    print("tuple1 and tuple3 are not identical.")

tuple1 and tuple2 are identical.
tuple1 and tuple3 are not identical.

27. Sort the elements of a tuple.

In [59]:
t=(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
print(sorted(t))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

28. Convert a tuple of integers to a tuple of strings.

In [66]:
t=(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
string_t=tuple(str(x) for x in t)
print(string_t)

('1', '3', '5', '7', '9', '2', '4', '6', '8', '10')

29. Convert a tuple of strings to a tuple of integers.

In [67]:
t=('1', '3', '5', '7', '9', '2', '4', '6', '8', '10')
integer_t=tuple(int(x) for x in t)
print(integer_t)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

30. Merge two tuples.

In [68]:
t1=(1, 3, 5, 7, 9)
t2=(2, 4, 6, 8, 10)
print(t1+t2)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

31. Flatten a nested tuple.

In [81]:
nested_tuple = (1, (2, 3), (4, 5, 6), 7, (8, 9, 10))
flatten_tuple=[]
for i in nested_tuple:
    if isinstance(i,tuple):
        flatten_tuple.extend(i)
    else:
        flatten_tuple.append(i) 
print(flatten_tuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

32. Create a tuple of the first 5 prime numbers.

In [1]:
l1=[]
for char in range(2,51):
    if char%char==0 and char%2!=0 and char%3!=0 and char%5!=0:
        l1.append(char)
t=tuple(l1)
print("list of prime numbers up to 50",t)

list of prime numbers up to 50 (7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49)

33. Check if a tuple is a palindrome.

In [2]:
def is_palindrome_tuple(t):
    """ Function to check if a tuple is a palindrome """
    return t == t[::-1]

def main():
    # Example tuples
    tuple1 = (1, 2, 3, 2, 1)
    tuple2 = (1, 2, 3, 4, 5)
    
    # Check if tuple1 is a palindrome
    if is_palindrome_tuple(tuple1):
        print("Tuple1 is a palindrome")
    else:
        print("Tuple1 is not a palindrome")
    
    # Check if tuple2 is a palindrome
    if is_palindrome_tuple(tuple2):
        print("Tuple2 is a palindrome")
    else:
        print("Tuple2 is not a palindrome")

if __name__ == "__main__":
    main()

Tuple1 is a palindrome
Tuple2 is not a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [6]:
t=tuple(x**2 for x in range(1,6))
print("squares of numbers from 1 to 5 ",t)

squares of numbers from 1 to 5  (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [9]:
t=(1,2,3,4,5,6,7,8,9,10)
even_num=[]
for x in t:
    if x%2==0:
        even_num.append(x)
even_num=tuple(even_num)
print(even_num)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [10]:
t=(1,2,3,4,5,6,7,8,9,10)
result=tuple(x*2 for x in t)
print(result)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [11]:
import random
random_num=tuple(random.randint(1,50) for x in range(5))
print(random_num)

(44, 37, 21, 36, 18)

38. Check if a tuple is sorted.

In [13]:
t=(44, 37, 21, 36, 18)
if sorted(t)==True:
    print("sorted")
else:
    print("not sorted")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [15]:
t=(1, 2, 1, 8, 5, 4, 33, 45, 67, 9)
n=2 # rotate to the left by 3 positions
n = n % len(t)
t2=t[n:] + t[:n]
print("tuple to the left by 3 positions ",t2)

tuple to the left by 3 positions  (1, 8, 5, 4, 33, 45, 67, 9, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [16]:
t=(1, 2, 1, 8, 5, 4, 33, 45, 67, 9)
n=2 # rotate to the right by 2 positions
n = n % len(t)
t2= t[-n:]+t[:-n] 
print("tuple to the right by 3 positions ",t2)

tuple to the right by 3 positions  (67, 9, 1, 2, 1, 8, 5, 4, 33, 45)

41. Create a tuple of the first 5 Fibonacci numbers.

In [6]:
def generate_fibonacci(n):
    """ Function to generate the first n Fibonacci numbers """
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        fibonacci.append(fibonacci[-1] + fibonacci[-2])
    return tuple(fibonacci[:n])
n=5 
fibonacci_tuple = generate_fibonacci(n)
  
    # Print the tuple
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [7]:
user_input=input("Enter numbers with space")
t=tuple(user_input)
print(t)

Enter numbers with space 1 2 2 3 4 5 6 7 8

('1', ' ', '2', ' ', '2', ' ', '3', ' ', '4', ' ', '5', ' ', '6', ' ', '7', ' ', '8')

43. Swap two elements in a tuple.

In [9]:
t=(1,2,3)
l=list(t)
temp=l[1]
l[1]=l[2]
l[2]=temp
t=tuple(l)
print(t)

(1, 3, 2)

44. Reverse the elements of a tuple.

In [10]:
t=(1, 8, 5, 4, 33, 45, 67, 9, 1, 2)
print(t[::-1])

(2, 1, 9, 67, 45, 33, 4, 5, 8, 1)

45. Create a tuple of the first `n` powers of 2.

In [11]:
powers_of_2_tuple = tuple(2 ** i for i in range(5))
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [12]:
t = ("apple", "banana", "cherry", "blueberry", "kiwi")
print(max(t, key=len))

blueberry

47. Find the shortest string in a tuple of strings.

In [13]:
t = ("apple", "banana", "cherry", "blueberry", "kiwi")
print(min(t, key=len))

kiwi

48. Create a tuple of the first `n` triangular numbers.

In [16]:
num=[(i * (i + 1)) // 2 for i in range(1,11)]
t=tuple(num)
print(t)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [18]:
lst = (1, 2, 3, 4, 5)
sub_lst = (2, 4)
it = iter(lst)
l1=(all(item in it for item in sub_lst))
print(l1)

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
 n = int(input("Enter the length of the tuple: "))
alternating_list = [1 if i % 2 == 0 else 0 for i in range(n)]
alternating_tuple =tuple(alternating_list)
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [2]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [3]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [4]:
s={1, 2, 3, 4, 5, 6}
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [5]:
s={1, 2, 3, 4, 5, 6}
element_to_check=4
if element_to_check in s:
    print("element exists in a set")
else:
    print("element not exists in a set")

element exists in a set

5. Find the length of a set without using the `len()` function.

In [6]:
s={1, 2, 3, 4, 5, 6}
count=0
for char in s:
    count= count+1
print("length of a set is ",count)

length of a set is  6

6. Clear all elements from a set.

In [7]:
s={1, 2, 3, 4, 5, 6}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [12]:
s=set({})
for char in range(1,11):
    if char%2==0:
        s.add(char)
print(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [11]:
s=set({})
for char in range(1,10):
    if char%2!=0:
        s.add(char)
print(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [13]:
a={2, 4, 6, 8, 10}
b={1, 3, 5, 7, 9}
s=set({})
s.union(a,b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [19]:
a={2, 7, 6, 8, 10}
b={1, 3, 10, 7, 9}
a.intersection(b)

{7, 10}

11. Find the difference between two sets.

In [20]:
a={2, 7, 6, 8, 10}
b={1, 3, 10, 7, 9}
a.difference(b)

{2, 6, 8}

12. Check if a set is a subset of another set.

In [24]:
set_a = {2, 4, 6}
set_b = {2, 4, 6, 8, 10}
is_subset_method = set_a.issubset(set_b)
print(is_subset_method)

True

13. Check if a set is a superset of another set.

In [25]:
set_a = {2, 4, 6}
set_b = {2, 4, 6, 8, 10}
is_subset_method = set_a.issuperset(set_b)
print(is_subset_method)

False

14. Create a set from a list.

In [26]:
l=[1,2,3,4,5,6]
s=set(l)
print(s)

{1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [28]:
s={1, 2, 3, 4, 5, 6}
l=list(s)
print(l)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [29]:
s={1, 2, 3, 4, 5, 6}
s.remove(2)
print(s)

{1, 3, 4, 5, 6}

17. Pop an element from a set.

In [30]:
s={1, 2, 3, 4, 5, 6}
s.pop()
print(s)

{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [34]:
set_a = {2, 4, 6}
set_b = {2, 4, 6, 8, 10}
set_a.isdisjoint(set_b)

False

19. Find the symmetric difference between two sets.

In [35]:
a = {2, 4, 6}
b = {2, 4, 6, 8, 10}
a.symmetric_difference(b)

{8, 10}

20. Update a set with elements from another set.

In [37]:
a = {2, 4, 6}
b = {2, 4, 6, 8, 10}
a.update(b)
print(a)

{2, 4, 6, 8, 10}

21. Create a set of the first 5 prime numbers.

In [38]:
prime_numbers = [2, 3, 5, 7, 11]
prime_set = set(prime_numbers)
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [41]:
a = {2, 4, 6,8,10}
b = {2, 4, 6, 8, 10}
if a==b:
    print("sets are identical")
else:
    print("sets are not identical")

sets are identical

23. Create a frozen set.

In [42]:
b = {2, 4, 6, 8, 10}
a= frozenset(b)
print("frozen set is ",a)

frozen set is  frozenset({2, 4, 6, 8, 10})

24. Check if a set is disjoint with another set.

In [45]:
a = {1, 7, 3,9,1}
b = {2, 4, 6, 8, 10}
a.isdisjoint(b)

True

25. Create a set of squares of numbers from 1 to 5.

In [46]:
s={ x**2 for x in range(1,6)}
print(s)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [49]:
a={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s=set()
for char in a:
    if char%2==0:
        s.add(char)
print(s)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [50]:
a={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s={ x*2 for x in a }
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [59]:
import random
s=set({})
for x in range(10):
    s.add( random.randint(1,10))
print(s)

{1, 3, 4, 5, 9, 10}

29. Check if a set is empty.

In [61]:
s={1, 3, 4, 5, 9, 10}
if len(s)==0:
    print("Set is empty")
else:
    print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [63]:
frozen_set1 = frozenset([1, 2, 3])
frozen_set2 = frozenset([4, 5, 6])
frozen_set3 = frozenset([7, 8, 9])
nested_set = {frozen_set1, frozen_set2, frozen_set3}
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [64]:
s={1, 3, 4, 5, 9, 10}
s.discard(5)
print(s)

{1, 3, 4, 9, 10}

32. Compare two sets.

In [66]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1==s2

False

33. Create a set from a string.

In [68]:
s="1234567"
a=set(s)
print(a)

{'7', '3', '5', '2', '6', '4', '1'}

34. Convert a set of strings to a set of integers.

In [72]:
s={'7', '3', '5', '2', '6', '4', '1'}
a={int(x) for x in s}
print(a)

{1, 2, 3, 4, 5, 6, 7}

35. Convert a set of integers to a set of strings.

In [73]:
s={1, 2, 3, 4, 5, 6, 7}
a={str(x) for x in s}
print(a)

{'7', '3', '5', '2', '6', '4', '1'}

In [74]:
t=(1,2,3,4,5,6,7)
s=set(t)
print(s)

{1, 2, 3, 4, 5, 6, 7}

37. Convert a set to a tuple.

In [75]:
s={1, 2, 3, 4, 5, 6, 7}
t=tuple(s)
print(t)

(1, 2, 3, 4, 5, 6, 7)

38. Find the maximum value in a set.

In [76]:
s={1, 2, 3, 4, 5, 6, 7}
print(max(s))

7

39. Find the minimum value in a set.

In [77]:
s={1, 2, 3, 4, 5, 6, 7}
print(min(s))

1

40. Create a set from user input.

In [78]:
s={input("Enter numbers with space")}
print(s)

Enter numbers with space 1 2 3 4 5 6

{'1 2 3 4 5 6'}

41. Check if the intersection of two sets is empty.

In [80]:
set1 = {1, 2, 0, 8, 10}
set2 = {3, 4, 5, 6, 7}
set1.intersection(set2)

set()

42. Create a set of the first 5 Fibonacci numbers.

In [83]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print(fibonacci_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [84]:
l=[1, 2, 3, 4, 1,3, 4, 5, 6, 7]
s=set(l)
print(s)

{1, 2, 3, 4, 5, 6, 7}

44. Check if two sets have the same elements, regardless of their count.

In [86]:
from collections import Counter
set1 = {1, 2, 2, 3, 3, 3}
set2 = {3, 3, 2, 2, 1}
same_elements = Counter(set1) == Counter(set2)
print(same_elements)

True

45. Create a set of the first `n` powers of 2.

In [88]:
s={ x**2 for x in range (1,10)}
print(s)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

46. Find the common elements between a set and a list.

In [89]:
set1 = {1, 2, 4, 5, 6, 1}
lst = [3, 3, 2, 2, 1]
s=set(lst)
print(set1.intersection(s))

{1, 2}

47. Create a set of the first `n` triangular numbers.

In [91]:
triangular_set = set()
for i in range(1, 5 + 1):
    triangular_number = i * (i + 1) // 2
    triangular_set.add(triangular_number)
print(triangular_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [94]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
print("set contains another set as a subset :",set2.issubset(set1))

set contains another set as a subset : True

49. Create a set of alternating 1s and 0s of length `n`.

In [95]:
set1 = {1 if i % 2 == 0 else 0 for i in range(10)}
print(set1)

{0, 1}

50. Merge multiple sets into one.

In [96]:
s1={64, 1, 4, 36, 9, 16, 49, 81, 25}
s2= {1, 2, 3, 4, 5}
s3={1, 3, 6, 10, 15}
result=s1.union(s2,s3)
print(result)

{64, 1, 2, 3, 4, 36, 5, 6, 9, 10, 15, 16, 49, 81, 25}